<%= render(Mpnetwork.Web.PageView, "_breadcrumb.html", assigns: Enum.into(@conn.assigns, %{breadcrumb_path: ~w[ Listings List ]})) %>

<h2>Latest 30 listings</h2>
<p>(pagination/search coming soon!)</p>

<%= render("_latest_n.html", conn: @conn, listings: @listings, primaries: @primaries, current_user: @current_user) %>

<span><%= link "New Listing", to: listing_path(@conn, :new), class: "btn btn-default btn-xl" %></span>
