<%= render(Mpnetwork.Web.PageView, "_breadcrumb.html", assigns: Enum.into(@conn.assigns, %{breadcrumb_path: ~w[ Listings New ]})) %>


<%= render "form.html", changeset: @changeset,
                        action: listing_path(@conn, :create),
                        conn: @conn,
                        attachments: [],
                        existing: false %>
<p><i>Attachments can be added after saving the listing</i></p>
<span><%= link "Back", to: listing_path(@conn, :index) %></span>
