<%= render(Mpnetwork.Web.PageView, "_breadcrumb.html", assigns: Enum.into(@conn.assigns, %{breadcrumb_path: ~w[ Listings New ]})) %>


<%= render "form.html", changeset: @changeset,
                        action: listing_path(@conn, :create) %>

<span><%= link "Back", to: listing_path(@conn, :index) %></span>
