<h2>New Broadcast</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.broadcast_path(@conn, :create),
                        conn: @conn,
                        broadcast: nil %>

<span><%= link "Back", to: Routes.broadcast_path(@conn, :index) %></span>
