<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<%#     <meta name="description" content="">
    <meta name="author" content=""> %>

    <title><%= page_title(@conn) %></title>
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<%#     <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css"> %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>MPW</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>MPW</b>Network</span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
            <%=
              render "_navbarmenus.html",
                conn: @conn,
                current_user: @current_user,
                include_messages: false,
                include_notifications: false,
                include_tasks: false,
                include_account_management: true,
                include_control_sidebar: false
            %>
        </nav>

      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img title="Want your face here? Make an account at gravatar.com associated with the email address you use to log in here!" src="<%= gravatar_url(@current_user.email) %>" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p><%= @current_user.name %></p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          <form action="<%= listing_path(@conn, :index) %>" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" value="<%= @conn.params["q"] %>" placeholder="Search..." title="<%=
                """
                Example search queries (omitting quotes):
                -----------------------------------------
                Get the latest listings: just hit return with an empty search field
                By id number: "5"
                By listing agent name or broker name.
                By address fragment: "55 plandome" (case-insensitive)
                By price range: "500,000-1,000,000"
                Listings owned by you: "my" or "mine" (case-insensitive)
                By listing status: "NEW" (or: FS, EXT, UC, CL, PC, WR, TOM) (capitalized)
                An exact phrase (include double quotes in this case!): "manhasset high"
                Or by almost any other attributes.
                You can search by multiple attributes (it filters on all of them), so "rent waterfront" will find rentals on the waterfront (rent AND waterfront).
                You can also use and, or, not (or the equivalent symbols &, |, !) and parentheses: "waterfront or colonial"
                """
               %>">
              <span class="input-group-btn">
                  <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Broadcasts</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li><%= link "Browse", to: broadcast_path(@conn, :index) %></li>
                <li><%= link "Add", to: broadcast_path(@conn, :new) %></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Listings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                <li><%= link "Round Robin Report", to: listing_path(@conn, :index) %></li>
                <li><%= link "Add", to: listing_path(@conn, :new) %></li>
              </ul>
            </li>
            <%= if @current_user.role_id < 3 do %>
              <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Admin</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><%= link "Invite a user", to: invitation_path(@conn, :new) %></li>
                  <% # <li><a href="#">Edit users</a></li> %>
                </ul>
                <ul class="treeview-menu">
                  <li><%= link "Edit offices", to: office_path(@conn, :index) %></li>
                </ul>
              </li>
            <% end %>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%# NOTE: breadcrumb moved to individual views to be called as a partial.
            Couldn't get it working here in the layout. %>
        <!-- Main content -->
        <section class="content container-fluid">

          <%= info = get_flash(@conn, :info); if info do %>
            <p class="alert alert-info" role="alert"><%= info %></p>
          <% end %>
          <%= error = get_flash(@conn, :error); if error do %>
            <p class="alert alert-danger" role="alert"><%= error %></p>
          <% end %>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          <%= last_logged_in_relative_humanized(@current_user) %>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="http://mecha.engineering">Mecha LLC</a>.</strong> All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="pull-right-container">
                        <span class="label label-danger pull-right">70%</span>
                      </span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->

          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>

                <p>
                  Some information about this general settings option
                </p>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
      immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div> <!-- /container -->
    <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
