<html>
  <head>
    <title><%= @email.subject %></title>
    <style>
      p {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
