@import 'node_modules/bootstrap/dist/css/bootstrap.min';
@import 'node_modules/admin-lte/dist/css/AdminLTE.min';
@import 'node_modules/admin-lte/dist/css/skins/_all-skins.min';
@import 'node_modules/select2/dist/css/select2.min';
@import 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min';
@import 'node_modules/bootstrap-daterangepicker/daterangepicker.scss';

// .fancy {
//   width: 100%
// }

.checkbox {
  display: inline;
  margin-right: 3px !important;
}

// hack to override this issue after spending too much time trying to solve it properly
.select2-container--default .select2-selection--single {
  padding: 2px 2px
}

// yes, I added a way to blink text, for broadcasts. Let the hate flow through you...
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.inspection {
  table, th, td {
    border: 1px solid lightgrey !important;
  }
}
