@import 'node_modules/admin-lte/bootstrap/css/bootstrap.min.css';

@import 'node_modules/admin-lte/dist/css/AdminLTE.min.css';

@import 'node_modules/admin-lte/dist/css/skins/_all-skins.min.css';

@import 'node_modules/admin-lte/plugins/select2/select2.css';

@import 'node_modules/admin-lte/plugins/datepicker/datepicker3.css';

@import 'node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css';

// .fancy {
//   width: 100%
// }

.checkbox {
  display: inline;
  margin-right: 3px !important;
}

// hack to override this issue after spending too much time trying to solve it properly
.select2-container--default .select2-selection--single {
  padding: 2px 2px
}