<h2>Editing Attachment for <%= @listing.address %></h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.attachment_path(@conn, :update, @attachment),
                        conn: @conn,
                        listing: @listing,
                        attachment: @attachment,
                        mode: :individual %>
<br />
<span><%= link "Back", to: Routes.attachment_path(@conn, :index, listing_id: @attachment.listing_id) %></span>
