<h2>New Attachment(s) for <%= @listing.address %></h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.attachment_path(@conn, :create),
                        listing: @listing,
                        conn: @conn,
                        attachment: false,
                        mode: :dropzone %>

<span><%= link "Back", to: Routes.attachment_path(@conn, :index, listing_id: @listing.id) %></span>
