<h2>Edit Attachment</h2>

<%= render "form.html", changeset: @changeset,
                        action: attachment_path(@conn, :update, @attachment) %>

<span><%= link "Back", to: attachment_path(@conn, :index) %></span>
