<h2>New Attachment</h2>

<%= render "form.html", changeset: @changeset,
                        action: attachment_path(@conn, :create) %>

<span><%= link "Back", to: attachment_path(@conn, :index) %></span>
